* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: hsl(257, 40%, 49%);
  position: relative;
  color: #fff;
  font-size: 14px;
}

.img-logo {
  max-height: 2.5rem;
  margin-bottom: 2.5rem;
}

.decoration-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

h1 {
  margin-bottom: 1.5rem;
}

.main-paragraph {
  line-height: 1.5;
  max-width: 93%;
  margin-bottom: 1.5rem;
}

.main-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-button {
  font-family: inherit;
  padding: 3% 21%;
  border-radius: 30px;
  color: hsl(257, 40%, 49%);
  border: none;
  box-shadow: 2px 2px 3px #444;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.font-icon {
  color: #fff;
  outline: 1px solid #fff;
  outline-offset: 6px;
  border-radius: 50%;
}

.font-icon:hover {
  outline: 1px solid hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.main-button:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
  cursor: pointer;
  transition: all ease-in 0.3s;
  transform: translateY(-3px);
  box-shadow: 4px 8px 3px #444;
}

@media (min-width: 800px) {
  main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    font-size: 16px;
  }

  .main-container {
    flex-direction: row;
    text-align: left;
  }

  .section-content {
    margin-left: 4rem;
    width: 50%;
  }

  .decoration-img {
    height: 100%;
    left: 6%;
  }

  .main-button {
    padding: 2% 12%;
  }

  .contact {
    justify-content: flex-end;
    margin-right: 4rem;
  }

  .img-logo {
    max-height: 2.5rem;
    margin-bottom: 4.5rem;
  }
}
